/*reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: serif;
  background-color: #fff;
  color: #000;
  font-family: "微软雅黑";
}

/*common*/
.l {
  float: left;
  display: inline;
}
.r {
  float: right;
  display: inline;
}
.of {
  overflow: hidden;
  *zoom: 1;
}
.block {
  display: block;
}
.none {
  display: none;
}
.clearfix {
  clear: both;
}

.content{

}
.df{
    display: flex;
}

.fc_orange{
    color: #ff7800;
}


.fc_green{
    color: #42B983;
}


@myrem :28rem;

a {
  color: #000;
}

/*Home*/
.content{
    .titleBox{
        h1{
            width: 100%;
            font-size: 36/@myrem;
            padding: 20/@myrem 0;
            background: #42B983;
            position: fixed;
        }
    }
    overflow:hidden;*zoom:1;
    
}
.main{
    width: 90%;
    
    margin: 100/@myrem auto 0;
    h1{
        font-size: 36/@myrem;
        padding: 20/@myrem 0;
    }
    h3{
        font-size: 26/@myrem;
        padding: 20/@myrem 0;
    }
    .HitBox{
        padding-bottom: 20/@myrem;
    }
    .Hit-list{
        li{
            width:100/3%;
            float: left;  
            padding-bottom: 30/@myrem;
            p{
                font-size: 18/@myrem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 10/@myrem 0;
            }
            .imgBox{
                img{
                    box-shadow: 0px 0px 10px #ccc;
                }
            }
        }
    }
    .upcomingBox{
        padding-bottom: 20/@myrem;
    }
    .upcoming-list{
        li{
            width:100/3%;
            float: left;  
            padding-bottom: 30/@myrem;
            p{
                font-size: 18/@myrem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 10/@myrem 0;
            }
        }
    }
    .HitBox h3,.upcomingBox h3{
        color: #2C3E50;
    }
}

/*Detail*/
.detailsBox{
    .movieTitle{
        margin: 20/@myrem 0;
        font-size: 34/@myrem;
    }
    .poster-box{
        padding: 20/@myrem 0 40/@myrem;
    }
    .movie-poster{
        box-shadow: 0px 0px 20px #ccc;
    }
    .movieText{
        margin: 20/@myrem 0;
        font-size: 24/@myrem;
        line-height: 40/@myrem;
        text-align: left;
        text-indent: 52/@myrem;
    }
    .casts{
        line-height: 50/@myrem;
        .casts-name{
            padding-right: 20/@myrem;
            line-height: 30/@myrem;
            word-wrap: break-word;
        }
    }
    .details-text{
        text-align: left;
        line-height: 50/@myrem;
    }
    .movie-href{
        display: inline-block;
        padding: 7/@myrem 25/@myrem;
        margin: 20/@myrem 0;
        border: 1px solid #42B983;
        border-radius: 4/@myrem;
        box-shadow: 3/@myrem 3/@myrem 2/@myrem #42B983;
    }
}

.actorsBox{
    font-size: 24/@myrem;
    text-align: left;
    .actors-img{
        float: right;
    }
    p{
        line-height: 36/@myrem;
    }
    .actorWorks{
        line-height: 42/@myrem;
        .actor-item{
            width: 100/@myrem;
            text-align:justify;
            text-align-last:justify;
            display: inline-block;
        }
    }  
}
.back-btn{
    height: 16/@myrem;
    width: 16/@myrem;
    border-top: 8/@myrem solid #2c3e50;
    border-left: 8/@myrem solid #2c3e50;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    margin-top: 20/@myrem;
    position: absolute;
    z-index: 1;
    left: 30/@myrem;
    top: 10/@myrem;
}
